In [1]:
import pandas as pd 
import datetime as dt 
nuforc_df = pd.read_csv("nuforc_reports.csv")
nuforc_df

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,Viewed some red lights in the sky appearing to...,Visalia,CA,2021-12-15T21:45:00,light,2 minutes,Occurred : 12/15/2021 21:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165881.html,Viewed some red lights in the sky appearing to...,2021-12-19T00:00:00,36.356650,-119.347937
1,Look like 1 or 3 crafts from North traveling s...,Cincinnati,OH,2021-12-16T09:45:00,triangle,14 seconds,Occurred : 12/16/2021 09:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165888.html,Look like 1 or 3 crafts from North traveling s...,2021-12-19T00:00:00,39.174503,-84.481363
2,seen dark rectangle moving slowly thru the sky...,Tecopa,CA,2021-12-10T00:00:00,rectangle,Several minutes,Occurred : 12/10/2021 00:00 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165810.html,seen dark rectangle moving slowly thru the sky...,2021-12-19T00:00:00,NaN,NaN
3,"One red light moving switly west to east, beco...",Knoxville,TN,2021-12-10T19:30:00,triangle,20-30 seconds,Occurred : 12/10/2021 19:30 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165825.html,"One red light moving switly west to east, beco...",2021-12-19T00:00:00,35.961561,-83.980115
4,"Bright, circular Fresnel-lens shaped light sev...",Alexandria,VA,2021-12-07T08:00:00,circle,NaN,Occurred : 12/7/2021 08:00 (Entered as : 12/0...,http://www.nuforc.org/webreports/165/S165754.html,"Bright, circular Fresnel-lens shaped light sev...",2021-12-19T00:00:00,38.798958,-77.095133
...,...,...,...,...,...,...,...,...,...,...,...,...
136935,Huge black triangle with 3-4 lights on the sid...,Kennewick,WA,2021-02-28T08:20:00,triangle,15 Seconds,Occurred : 2/28/2021 08:20 (Entered as : 02/2...,http://www.nuforc.org/webreports/162/S162246.html,Huge black triangle with 3-4 lights on the sid...,2021-03-02T00:00:00,46.178823,-119.162978
136936,It was a cylinder shaped craft that appeared o...,Kissimmee,FL,2021-04-12T10:20:00,cylinder,3 seconds,Occurred : 4/12/2021 10:20 (Entered as : 04/1...,http://www.nuforc.org/webreports/162/S162692.html,It was a cylinder shaped craft that appeared o...,2021-04-23T00:00:00,28.255035,-81.429492
136937,Beautiful lights flying intimately over the so...,Denver,CO,2021-03-01T00:15:00,light,3 minutes,Occurred : 3/1/2021 00:15 (Entered as : 03/01...,http://www.nuforc.org/webreports/162/S162305.html,Beautiful lights flying intimately over the so...,2021-03-31T00:00:00,39.745126,-104.959346
136938,"3/15/21 in Mojave area fwy 14 or 58, close to ...",Mojave,CA,2021-03-15T21:00:00,flash,2-3 seconds,Occurred : 3/15/2021 21:00 (Entered as : 3/15...,http://www.nuforc.org/webreports/162/S162474.html,"3/15/21 in Mojave area fwy 14 or 58, close to ...",2021-03-31T00:00:00,35.097900,-118.130200
136939,"Miller State Park UFO sighting, 900sqf object ...",Peterborough,NH,2021-03-25T20:05:00,oval,30 seconds,Occurred : 3/25/2021 20:05 (Entered as : 03/2...,http://www.nuforc.org/webreports/162/S162507.html,"Miller State Park UFO sighting, 900sqf object ...",2021-03-31T00:00:00,42.866500,-71.960500

In [2]:
stats = nuforc_df['stats']
stats.head()

0    Occurred : 12/15/2021 21:45  (Entered as : 12/...
1    Occurred : 12/16/2021 09:45  (Entered as : 12/...
2    Occurred : 12/10/2021 00:00  (Entered as : 12/...
3    Occurred : 12/10/2021 19:30  (Entered as : 12/...
4    Occurred : 12/7/2021 08:00  (Entered as : 12/0...
Name: stats, dtype: object

In [3]:
nuforc_df=nuforc_df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
nuforc_df

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,Viewed some red lights in the sky appearing to...,Visalia,CA,2021-12-15T21:45:00,light,2 minutes,Occurred : 12/15/2021 21:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165881.html,Viewed some red lights in the sky appearing to...,2021-12-19T00:00:00,36.356650,-119.347937
1,Look like 1 or 3 crafts from North traveling s...,Cincinnati,OH,2021-12-16T09:45:00,triangle,14 seconds,Occurred : 12/16/2021 09:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165888.html,Look like 1 or 3 crafts from North traveling s...,2021-12-19T00:00:00,39.174503,-84.481363
2,seen dark rectangle moving slowly thru the sky...,Tecopa,CA,2021-12-10T00:00:00,rectangle,Several minutes,Occurred : 12/10/2021 00:00 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165810.html,seen dark rectangle moving slowly thru the sky...,2021-12-19T00:00:00,NaN,NaN
3,"One red light moving switly west to east, beco...",Knoxville,TN,2021-12-10T19:30:00,triangle,20-30 seconds,Occurred : 12/10/2021 19:30 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165825.html,"One red light moving switly west to east, beco...",2021-12-19T00:00:00,35.961561,-83.980115
4,"Bright, circular Fresnel-lens shaped light sev...",Alexandria,VA,2021-12-07T08:00:00,circle,NaN,Occurred : 12/7/2021 08:00 (Entered as : 12/0...,http://www.nuforc.org/webreports/165/S165754.html,"Bright, circular Fresnel-lens shaped light sev...",2021-12-19T00:00:00,38.798958,-77.095133
...,...,...,...,...,...,...,...,...,...,...,...,...
136935,Huge black triangle with 3-4 lights on the sid...,Kennewick,WA,2021-02-28T08:20:00,triangle,15 Seconds,Occurred : 2/28/2021 08:20 (Entered as : 02/2...,http://www.nuforc.org/webreports/162/S162246.html,Huge black triangle with 3-4 lights on the sid...,2021-03-02T00:00:00,46.178823,-119.162978
136936,It was a cylinder shaped craft that appeared o...,Kissimmee,FL,2021-04-12T10:20:00,cylinder,3 seconds,Occurred : 4/12/2021 10:20 (Entered as : 04/1...,http://www.nuforc.org/webreports/162/S162692.html,It was a cylinder shaped craft that appeared o...,2021-04-23T00:00:00,28.255035,-81.429492
136937,Beautiful lights flying intimately over the so...,Denver,CO,2021-03-01T00:15:00,light,3 minutes,Occurred : 3/1/2021 00:15 (Entered as : 03/01...,http://www.nuforc.org/webreports/162/S162305.html,Beautiful lights flying intimately over the so...,2021-03-31T00:00:00,39.745126,-104.959346
136938,"3/15/21 in Mojave area fwy 14 or 58, close to ...",Mojave,CA,2021-03-15T21:00:00,flash,2-3 seconds,Occurred : 3/15/2021 21:00 (Entered as : 3/15...,http://www.nuforc.org/webreports/162/S162474.html,"3/15/21 in Mojave area fwy 14 or 58, close to ...",2021-03-31T00:00:00,35.097900,-118.130200
136939,"Miller State Park UFO sighting, 900sqf object ...",Peterborough,NH,2021-03-25T20:05:00,oval,30 seconds,Occurred : 3/25/2021 20:05 (Entered as : 03/2...,http://www.nuforc.org/webreports/162/S162507.html,"Miller State Park UFO sighting, 900sqf object ...",2021-03-31T00:00:00,42.866500,-71.960500

In [4]:
nuforc_df.dtypes

summary            object
city               object
state              object
date_time          object
shape              object
duration           object
stats              object
report_link        object
text               object
posted             object
city_latitude     float64
city_longitude    float64
dtype: object

In [5]:
nuforc_df[["date","time"]] = nuforc_df["date_time"].str.split("T", n=1, expand=True)
nuforc_df=nuforc_df.drop(columns=['text', 'posted','duration','summary','report_link','stats',"date_time", "time"])

In [6]:
nuforc_df = nuforc_df.rename(columns={'city_latitude': 'latitude', 'city_longitude': 'longitude'})

In [7]:
nuforc_df['date'] = nuforc_df['date'].astype('datetime64')

In [8]:
clean_df = nuforc_df.copy()
clean_df= clean_df.dropna(axis=0, how='any',inplace=False)
clean_df

                city state     shape   latitude   longitude       date
0            Visalia    CA     light  36.356650 -119.347937 2021-12-15
1         Cincinnati    OH  triangle  39.174503  -84.481363 2021-12-16
3          Knoxville    TN  triangle  35.961561  -83.980115 2021-12-10
4         Alexandria    VA    circle  38.798958  -77.095133 2021-12-07
5          Fullerton    CA   unknown  33.877422 -117.924978 2020-07-07
...              ...   ...       ...        ...         ...        ...
136935     Kennewick    WA  triangle  46.178823 -119.162978 2021-02-28
136936     Kissimmee    FL  cylinder  28.255035  -81.429492 2021-04-12
136937        Denver    CO     light  39.745126 -104.959346 2021-03-01
136938        Mojave    CA     flash  35.097900 -118.130200 2021-03-15
136939  Peterborough    NH      oval  42.866500  -71.960500 2021-03-25

[103660 rows x 6 columns]

In [9]:
# clean_df['date_time'].dt.strftime("%Y%m%d").astype(int)
clean_df['date'] = pd.to_datetime(clean_df['date'], format='%y/%m/%d')
clean_df

                city state     shape   latitude   longitude       date
0            Visalia    CA     light  36.356650 -119.347937 2021-12-15
1         Cincinnati    OH  triangle  39.174503  -84.481363 2021-12-16
3          Knoxville    TN  triangle  35.961561  -83.980115 2021-12-10
4         Alexandria    VA    circle  38.798958  -77.095133 2021-12-07
5          Fullerton    CA   unknown  33.877422 -117.924978 2020-07-07
...              ...   ...       ...        ...         ...        ...
136935     Kennewick    WA  triangle  46.178823 -119.162978 2021-02-28
136936     Kissimmee    FL  cylinder  28.255035  -81.429492 2021-04-12
136937        Denver    CO     light  39.745126 -104.959346 2021-03-01
136938        Mojave    CA     flash  35.097900 -118.130200 2021-03-15
136939  Peterborough    NH      oval  42.866500  -71.960500 2021-03-25

[103660 rows x 6 columns]

In [10]:
 clean_df['country'] = 'us'
 clean_df= clean_df[['date','city', 'state','country','shape','latitude','longitude']]
 clean_df.dtypes

date         datetime64[ns]
city                 object
state                object
country              object
shape                object
latitude            float64
longitude           float64
dtype: object

In [ ]:
# clean_df['duration']=  clean_df['duration'].str.replace("nan","NaN")
# clean_df= clean_df.dropna(axis=0, how='any',inplace=False)
# clean_df

In [ ]:
# from pandas._libs.hashtable import value_count
# notes 3600 seconds in 1 hour, 60 seconds in 1 minute remove seconds 
# clean_df['duration']=  clean_df['duration'].str.replace("hours", '*3600').str.replace(' ','+').str.replace('minutes','*60').apply(eval)
# dura_df=clean_df.copy()
# dura_df['duration']=  dura_df['duration'].str.replace("minutes",'*60').str.replace("minute",'*60').str.replace("seconds",'').str.replace("Several",'').str.replace("Seconds",'').str.replace("hour", '*3600').str.replace("hours", '*3600')

# # dura_df = dura_df['duration'].value_counts()
# dura_df

In [ ]:
# check_vcs= dura_df['duration'].value_counts()
# check_vcs

In [ ]:
# clean_df2 = clean_df['duration'].value_counts()
# clean_df23 = clean_df2[clean_df2.lt(10)].index

# clean_df5 = clean_df.drop(clean_df[clean_df.duration.isin(clean_df23)].index.tolist())

# clean_df5["duration"].value_counts()

In [ ]:
# do not delete proud of code
# dura_df=clean_df5

# dura_df['duration']=  dura_df['duration'].str.replace("couple minutes", '0').str.replace("Several Minutes","0").str.replace("&lt;5 minutes",'5*60').str.replace("%-",'')\
# .str.replace("Several minutes","0").str.replace("Half hour", '30').str.replace("a few hours","0").str.replace("15 minutes+",'15*60').str.replace("a moment",'0').str.replace("over an hour",'1')\
# .str.replace("unknown",'0').str.replace("ongoing",'0').str.replace("on going",'0').str.replace("All night",'0').str.replace("?", '0').str.replace("few", '0').str.replace("Ongoing", '0')\
# .str.replace("5 min.", '5*60').str.replace("10 min.", '10*60').str.replace("3 min.", '3*60').str.replace("15 min.", '15*60').str.replace("30 sec.", '30').str.replace("30 min.", '30*60')\
# .str.replace("20 min.", '20*60').str.replace("10 sec.", '10').str.replace("5 sec.", '5').str.replace("5:00", '0').str.replace("20 sec.", '20').str.replace("45 min.", '45*60')\
# .str.replace("4 min.", '4*60').str.replace("15 sec.", '15').str.replace("5 mins.", '5*60').str.replace("1-2 min.", '2*60').str.replace("45 sec.", '45').str.replace("10+ minutes", '10*60')\
# .str.replace("30 minutes +", '30*60').str.replace("3 sec.", '3').str.replace("1 min.", '3').str.replace("3-5 min.", '5*60').str.replace("5min.", '5*60').str.replace("3-4 min.", '4*60')\
# .str.replace("2-3 min.", '3*60').str.replace("5-10 min.", '10*60').str.replace("2 hrs.", '2*3600').str.replace("2 sec.", '2').str.replace("1min.", '60').str.replace("10min.", '10*60')\
# .str.replace("15 mins.", '15*60').str.replace("10-15 sec.", '15').str.replace("3 mins.", '3*60').str.replace("5 mintues", '5*60').str.replace("2 mins.", '2*60').str.replace("2 hours +", '2*3600')\
# .str.replace("10-15 min.", '15*60').str.replace("6 min.", '6*60').str.replace("20 mins.", '20*60').str.replace("15min.", '15*60').str.replace("7 min.", '7*60').str.replace("2min.", '2*60')\
# .str.replace("10 Min.", '10*60').str.replace("30 sec.", '30').str.replace("8 min.", '8*60').str.replace("unk", '0').str.replace("3min.", '3*60').str.replace("30 mins.", '30*60')\
# .str.replace("5 Min.", '5*60').str.replace("5 minutes+", '5*60').str.replace("5 to 7 minutes", '7*60').str.replace("10 minutes?", '10*60').str.replace("15-20 min.", '20*60')\
# .str.replace("30 seconds?", '30').str.replace("less than 1 min", '60').str.replace("60 sec.", '60').str.replace("1 or 2 minutes", '2*60').str.replace("about 5 min", '5*60').str.replace("15-20 sec.", '20')\
# .str.replace("20 minutes +", '20*60').str.replace("15 minutes +", '15*60').str.replace("approx 2 minutes", '2*60').str.replace("About 30 seconds", '30').str.replace("5 to 6 seconds", '6')\
# .str.replace("1:00 minute", '60').str.replace("3:00 minutes", '3*60').str.replace("5 minutes +", '5*60').str.replace("1 minute +", '60').str.replace("4 sec.", '4').str.replace("3 or 4 seconds", '4')\
# .str.replace("1 to 2 min", '2*60').str.replace("3+ minutes", '3*60').str.replace("2 1/2 minutes", '2.5*60').str.replace("3 to 5 mins", '5*60').str.replace("40 min.", '40*60').str.replace("Few Seconds", '0')\
# .str.replace("2-3 sec.", '3').str.replace("45 minutes +", '45*60').str.replace("45+ minutes", '45*60').str.replace("2 hours+", '2*3600').str.replace("10 mins.", '10*60').str.replace("30 to 45 seconds", '45')\
# .str.replace("45min.", '45*60').str.replace("3 to 5 min", '5*60').str.replace("5 to 10 min", '5*60').str.replace("about one minute", '60').str.replace("1min 30 sec", '63').str.replace("1:00 min", '60')\
# .str.replace("couple minutes", '0').str.replace("approx 1 hour", '60').str.replace("approx 1 hour", '1*3600').str.replace("approx 1 minute", '60').str.replace("approx 1 minute", '60').str.replace("8 to 10 seconds", '10')\
# .str.replace("45 mins.", '45*60').str.replace("About 3 minutes", '3*60').str.replace("30min.", '30*60')\
# .str.replace("a few", '0').str.replace("Few", '0').str.replace("five", '5').str.replace("all night", '0').str.replace("not ure", '0').str.replace("le than a", '0').str.replace("unure",'0')\
# .str.replace("Unure","0").str.replace("unkown",'0').str.replace("don't k0",'0').str.replace("UNKNOWN",'0').str.replace("Unk0n",'0')\
# .str.replace("three seconds", '3').str.replace("Several Minutes","0").str.replace("Several Hours","0").str.replace("Several Seconds","0")\
# .str.replace("Several seconds","0").str.replace("several seconds","0").str.replace("several minutes","0").str.replace("Not ure","0").str.replace("current","0").str.replace("continuou","0")\
# .str.replace("Continuou","0").str.replace("till going",'0').str.replace("Unure",'0').str.replace("Still happening",'0').str.replace("hort",'0').str.replace("till happening",'0').str.replace("Still there",'0')\
# .str.replace("now",'0').str.replace("varie",'0').str.replace("le than on",'1').str.replace("3-",'').str.replace("30-",'').str.replace("20-",'').str.replace("5-",'').str.replace("10-",'')\
# .str.replace("8-",'').str.replace("3 - ",'').str.replace("30+",'').str.replace("7-",'').str.replace("2 - ",'').str.replace("1 - ",'').str.replace("45-",'').str.replace("15-",'').str.replace("60-",'')\
# .str.replace("5 - ",'').str.replace("6-",'').str.replace("7-",'').str.replace("15 - ",'').str.replace("1-",'').str.replace("2-",'').str.replace("4-",'').str.replace("3 - ",'')\
# .str.replace("12-",'').str.replace("2 -",'').str.replace("40-",'').str.replace("2-",'').str.replace("90-",'').str.replace("S0 on",'0')\
# .str.replace("Seconds",'').str.replace("hour", '*3600').str.replace("a few hours", "0").str.replace("hours", '*3600').str.replace("hours", '*3600')\
# .str.replace("About 3 minutes", '3').str.replace("minute",'*60').str.replace("seconds",'').str.replace("minutes",'*60')\
# .str.replace("30min.", '30').str.replace(">", '').str.replace("<", '').str.replace("to", '-').str.replace("Night", '0')\
# .str.replace("about one", '1').str.replace("About", '').str.replace("MINUTES",'*60').str.replace("Minute",'*60')\
# .str.replace("MINUTE",'*60').str.replace("hr", '*3600').str.replace("sec",'').str.replace("min",'*60')\
# .str.replace("hr", '*3600').str.replace("twenty", '20').str.replace("Ten", '10').str.replace("about one ", '1')\
# .str.replace("Unknown", '0').str.replace("none", '0').str.replace("None", '0').str.replace("NONE", '0')\
# .str.replace("% - ",'').str.replace("% -",'').str.replace("SECONDS",'').str.replace("one", '1')\
# .str.replace("Sec", '').str.replace("Mins", '*60').str.replace("Continuing", '0').str.replace("approx", '')\
# .str.replace("mins.", '*60').str.replace("min.", '*60').str.replace("Min", '*60').str.replace("MIN", '*60')\
# .str.replace('Several *60', '0').str.replace("Less than a", '1').str.replace("couple *60", '0')\
# .str.replace("~", '').str.replace("Hour", '*3600').str.replace("ond", '').str.replace("s", '').str.replace("00:45", '45*60')\
# .str.replace(":20", '20*60').str.replace("two", '20*2').str.replace("ufo",'0').str.replace("te",'').str.replace("nd",'').str.replace(" +",'').str.replace("uncertain",'0')\
# .str.replace("or o",'').str.replace("0:00",'0').str.replace("+",'').str.replace("a0",'0').str.replace("1:00",'0').str.replace("2:00",'0').str.replace("A0",'0')\
# .str.replace("half",'0.5').str.replace("n",'').str.replace("u",'').str.replace("about3",'3').str.replace("everal*3600",'0').str.replace("about2",'2')\
# .str.replace(":",'').str.replace("10-15",'15').str.replace("tillthere",'0').str.replace("S0",'0').str.replace("plit",'0').str.replace("Uk0",'0').str.replace("otre",'0')\
# .str.replace("lethaa",'0').str.replace("re",'0').str.replace("everal",'0').str.replace("abot3",'3').str.replace(".",'').str.replace("abot2",'2').str.replace("Notre",'0')\
# .str.replace("abot5",'5').str.replace("2-3",'3').str.replace("5-10",'10').str.replace("t*3600ee*60",'0').str.replace("ight",'0').str.replace("Several",'0').str.replace("Oe",'0').str.replace("Brief",'0')\
# .str.replace("3day",'3*86400').str.replace("Ure",'0').str.replace("abot10*60",'10*60').str.replace("brief",'0').str.replace("15-20",'20').str.replace("3-4",'4').str.replace("Ogoig",'0')\
# .str.replace("abota",'1').str.replace("letha3",'3').str.replace("2or3*60",'3*60').str.replace("0015",'0').str.replace("2day",'2*86400').str.replace("abot",'0').str.replace("Five",'5')\
# .str.replace("e",'').str.replace("2HOURS",'2*3600').str.replace("cotiig",'0').str.replace("do'tk0",'0').str.replace("0ow",'0').str.replace("Pho-",'0').str.replace("Crret",'0')\
# .str.replace("ormore",'').str.replace("orle",'').str.replace("a*3600",'0').str.replace("Two",'2').str.replace("pho-",'0').str.replace("-",'').str.replace("oro",'').str.replace("5or6",'6')\
# .str.replace("letha",'').str.replace("N0", '0').str.replace("S0", '0').str.replace("U0", '0').str.replace("Cr0t", '0').str.replace("0o", '0').str.replace("1*0ormo0", '0')\
# .str.replace("a*0", '0').str.replace("orl", '').str.replace("ltha", '0').str.replace("ltha1*60", '0').str.replace("SEC", '0').str.replace("2or3", '3').str.replace("rmo", '0')\
# .str.replace("pl", '').str.replace("3or4", '4')

# dura_df["duration"].value_counts()

In [ ]:
# dura_df['duration']=  dura_df['duration'].str.replace("min",'*60').\
# str.replace("MINUTES",'*60').str.replace("sec",'')\
# .str.replace("hr", '*3600').str.replace("Less than a", '*1').str.replace("<1 ond", '*1').str.replace("~", '')\
# .str.replace("s", '').str.replace("Hour", '*3600').str.replace("HOUR", '*3600').str.replace(".", '').str.replace("Unknown", '').str.replace("none", '')\
# .str.replace("about one ", '1').str.replace(">", '').str.replace("<", '').str.replace("twenty", '20')\
# .str.replace("About", '').str.replace("Sec", '').str.replace("Ten", '10').str.replace("approx", '')\
# .str.replace("to", '-').str.replace("couple *60", "NaN")
# vcs=dura_df["duration"].value_counts()

In [ ]:
# # dura_df.tail(50)
# pd.set_option("display.max_rows", None)
# print(vcs)

In [ ]:
# dura_df= dura_df.dropna(axis=0, how='any',inplace=False)
# dura_df["duration"].value_counts()

In [ ]:
# # dur_df = dura_df[dura_df.duration != 0]
# values= ['0','2*600','5*600','a*0','20*2*0','3or4','t*0*60']
# dura_df['duration']=  dura_df['duration'].str.replace("nan","NaN")
# dura_df = dura_df[dura_df.duration.isin(values) == False]
# dura_df

In [ ]:
# # dura_df.tail(50)
# dura_df.head(50)

In [ ]:
# dura_df['duration'].isnull().values.any()

In [13]:
clean_df.to_csv("clean_NUFORC.csv",index=False, header=True)