In [1]:
# blanket import modules
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import pprint

In [2]:
ufo_data = pd.read_csv("complete.csv",error_bad_lines=False)
ufo_data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 2855: expected 11 fields, saw 12\nSkipping line 3731: expected 11 fields, saw 12\nSkipping line 4753: expected 11 fields, saw 12\nSkipping line 5386: expected 11 fields, saw 12\nSkipping line 5420: expected 11 fields, saw 12\nSkipping line 5611: expected 11 fields, saw 12\nSkipping line 5846: expected 11 fields, saw 12\nSkipping line 6090: expected 11 fields, saw 12\nSkipping line 7513: expected 11 fields, saw 12\nSkipping line 7623: expected 11 fields, saw 12\nSkipping line 8890: expected 11 fields, saw 12\nSkipping line 9012: expected 11 fields, saw 12\nSkipping line 9568: expected 11 fields, saw 12\nSkipping line 9617: expected 11 fields, saw 12\nSkipping line 9748: expected 11 fields, saw 12\nSkipping line 10154: expected 11 fields, saw 12\nSkipping line 10424: expected 11 fields, saw 12\nSkipping line 12032: expected 11 fields, saw 12\nSkipping line 12110: expected 11 fields, saw 12\nSkipping line 12141: expected 11 fields, saw 12\nSkipping line 12888: expected 11 fields, saw 12\nSkipping line 14610: expected 11 fields, saw 12\nSkipping line 16028: expected 11 fields, saw 12\nSkipping line 16341: expected 11 fields, saw 12\nSkipping line 16396: expected 11 fields, saw 12\nSkipping line 16632: expected 11 fields, saw 12\nSkipping line 16719: expected 11 fields, saw 12\nSkipping line 18238: expected 11 fields, saw 12\nSkipping line 18364: expected 11 fields, saw 12\nSkipping line 18476: expected 11 fields, saw 12\nSkipping line 19811: expected 11 fields, saw 12\nSkipping line 19856: expected 11 fields, saw 12\nSkipping line 19906: expected 11 fields, saw 12\nSkipping line 19932: expected 11 fields, saw 12\nSkipping line 20383: expected 11 fields, saw 12\nSkipping line 20530: expected 11 fields, saw 12\nSkipping line 20761: expected 11 fields, saw 12\nSkipping line 21142: expected 11 fields, saw 12\nSkipping line 21288: expected 11 fields, saw 12\nSkipping line 21306: expected 11 fields, saw 12\nSkipping line 21573: expected 11 fields, saw 12\nSkipping line 21963: expected 11 fields, saw 12\nSkipping line 22089: expected 11 fields, saw 12\nSkipping line 22105: expected 11 fields, saw 12\nSkipping line 22233: expected 11 fields, saw 12\nSkipping line 22782: expected 11 fields, saw 12\nSkipping line 23140: expected 11 fields, saw 12\nSkipping line 23142: expected 11 fields, saw 12\nSkipping line 23248: expected 11 fields, saw 12\nSkipping line 23366: expected 11 fields, saw 12\nSkipping line 23461: expected 11 fields, saw 12\nSkipping line 23619: expected 11 fields, saw 12\nSkipping line 23729: expected 11 fields, saw 12\nSkipping line 23921: expected 11 fields, saw 12\nSkipping line 24693: expected 11 fields, saw 12\nSkipping line 25540: expected 11 fields, saw 12\nSkipping line 25700: expected 11 fields, saw 12\nSkipping line 25812: expected 11 fields, saw 12\nSkipping line 26182: expected 11 fields, saw 12\nSkipping line 27421: expected 11 fields, saw 12\nSkipping line 27462: expected 11 fields, saw 12\nSkipping line 28080: expected 11 fields, saw 12\nSkipping line 28279: expected 11 fields, saw 12\nSkipping line 28457: expected 11 fields, saw 12\nSkipping line 28742: expected 11 fields, saw 12\nSkipping line 29671: expected 11 fields, saw 12\nSkipping line 30339: expected 11 fields, saw 12\nSkipping line 30414: expected 11 fields, saw 12\nSkipping line 31151: expected 11 fields, saw 12\nSkipping line 31305: expected 11 fields, saw 12\nSkipping line 32195: expected 11 fields, saw 12\nSkipping line 32436: expected 11 fields, saw 12\nSkipping line 32672: expected 11 fields, saw 12\nSkipping line 33131: expected 11 fields, saw 12\nSkipping line 33439: expected 11 fields, saw 12\nSkipping line 34181: expected 11 fields, saw 12\nSkipping line 34728: expected 11 fields, saw 12\nSkipping line 34866: expected 11 fields, saw 12\nSkipping line 35104: expected 11 fields, saw 12\nSkipping line 35297: expected 11 fields, saw 12\nSkipping line 35393: expected 11 fields, saw 12\nSkipping line 35910: expected 11 fields, saw 12\nSkipping line 36442: expected 11 fields, saw 12\nSkipping line 36690: expected 11 fields, saw 12\nSkipping line 36720: expected 11 fields, saw 12\nSkipping line 37290: expected 11 fields, saw 12\nSkipping line 37358: expected 11 fields, saw 12\nSkipping line 37977: expected 11 fields, saw 12\nSkipping line 38087: expected 11 fields, saw 12\nSkipping line 38194: expected 11 fields, saw 12\nSkipping line 39428: expected 11 fields, saw 12\nSkipping line 39595: expected 11 fields, saw 12\nSkipping line 39676: expected 11 fields, saw 12\nSkipping line 39791: expected 11 fields, saw 12\nSkipping line 40018: expected 11 fields, saw 12\nSkipping line 40427: expected 11 fields, saw 12\nSkipping line 42855: expected 11 fields, saw 12\nSkipping line 43659: expected 11 fields, saw 12\nSkipping line 44159: expected 11 fields, saw 12\nSkipping line 45526: expected 11 fields, saw 12\nSkipping line 46675: expected 11 fields, saw 12\nSkipping line 46785: expected 11 fields, saw 12\nSkipping line 46808: expected 11 fields, saw 12\nSkipping line 46921: expected 11 fields, saw 12\nSkipping line 47284: expected 11 fields, saw 12\nSkipping line 47374: expected 11 fields, saw 12\nSkipping line 47416: expected 11 fields, saw 12\nSkipping line 47489: expected 11 fields, saw 12\nSkipping line 47626: expected 11 fields, saw 12\nSkipping line 48122: expected 11 fields, saw 12\nSkipping line 48929: expected 11 fields, saw 12\nSkipping line 48968: expected 11 fields, saw 12\nSkipping line 49437: expected 11 fields, saw 12\nSkipping line 49454: expected 11 fields, saw 12\nSkipping line 50667: expected 11 fields, saw 12\nSkipping line 50957: expected 11 fields, saw 12\nSkipping line 51272: expected 11 fields, saw 12\nSkipping line 51646: expected 11 fields, saw 12\nSkipping line 51990: expected 11 fields, saw 12\nSkipping line 52020: expected 11 fields, saw 12\nSkipping line 52056: expected 11 fields, saw 12\nSkipping line 52256: expected 11 fields, saw 12\nSkipping line 52365: expected 11 fields, saw 12\nSkipping line 52780: expected 11 fields, saw 12\nSkipping line 53061: expected 11 fields, saw 12\nSkipping line 53132: expected 11 fields, saw 12\nSkipping line 53511: expected 11 fields, saw 12\nSkipping line 54089: expected 11 fields, saw 12\nSkipping line 55400: expected 11 fields, saw 12\nSkipping line 57473: expected 11 fields, saw 12\nSkipping line 58643: expected 11 fields, saw 12\nSkipping line 58805: expected 11 fields, saw 12\nSkipping line 59116: expected 11 fields, saw 12\nSkipping line 59724: expected 11 fields, saw 12\nSkipping line 60383: expected 11 fields, saw 12\nSkipping line 60475: expected 11 fields, saw 12\nSkipping line 60539: expected 11 fields, saw 12\nSkipping line 60910: expected 11 fields, saw 12\nSkipping line 61029: expected 11 fields, saw 12\nSkipping line 61637: expected 11 fields, saw 12\nSkipping line 61729: expected 11 fields, saw 12\nSkipping line 62026: expected 11 fields, saw 12\nSkipping line 62216: expected 11 fields, saw 12\nSkipping line 63654: expected 11 fields, saw 12\nSkipping line 64709: expected 11 fields, saw 12\n'
b'Skipping line 65878: expected 11 fields, saw 12\nSkipping line 66090: expected 11 fields, saw 12\nSkipping line 66092: expected 11 fields, saw 12\nSkipping line 66473: expected 11 fields, saw 12\nSkipping line 66546: expected 11 fields, saw 12\nSkipping line 66547: expected 11 fields, saw 12\nSkipping line 68099: expected 11 fields, saw 12\nSkipping line 69438: expected 11 fields, saw 12\nSkipping line 70101: expected 11 fields, saw 12\nSkipping line 70449: expected 11 fields, saw 12\nSkipping line 70639: expected 11 fields, saw 12\nSkipping line 70641: expected 11 fields, saw 12\nSkipping line 70713: expected 11 fields, saw 12\nSkipping line 71342: expected 11 fields, saw 12\nSkipping line 71631: expected 11 fields, saw 12\nSkipping line 72088: expected 11 fields, saw 12\nSkipping line 72116: expected 11 fields, saw 12\nSkipping line 73540: expected 11 fields, saw 12\nSkipping line 74651: expected 11 fields, saw 12\nSkipping line 74782: expected 11 fields, saw 12\nSkipping line 74915: expected 11 fields, saw 12\nSkipping line 75059: expected 11 fields, saw 12\nSkipping line 75343: expected 11 fields, saw 12\nSkipping line 75413: expected 11 fields, saw 12\nSkipping line 75674: expected 11 fields, saw 12\nSkipping line 75830: expected 11 fields, saw 12\nSkipping line 76114: expected 11 fields, saw 12\nSkipping line 76831: expected 11 fields, saw 12\nSkipping line 77537: expected 11 fields, saw 12\nSkipping line 77565: expected 11 fields, saw 12\nSkipping line 77604: expected 11 fields, saw 12\nSkipping line 77868: expected 11 fields, saw 12\nSkipping line 78114: expected 11 fields, saw 12\nSkipping line 78523: expected 11 fields, saw 12\nSkipping line 78602: expected 11 fields, saw 12\nSkipping line 79148: expected 11 fields, saw 12\nSkipping line 79942: expected 11 fields, saw 12\nSkipping line 80153: expected 11 fields, saw 12\nSkipping line 80325: expected 11 fields, saw 12\nSkipping line 80379: expected 11 fields, saw 12\nSkipping line 80418: expected 11 fields, saw 12\nSkipping line 80500: expected 11 fields, saw 12\nSkipping line 82068: expected 11 fields, saw 12\nSkipping line 82563: expected 11 fields, saw 12\nSkipping line 86120: expected 11 fields, saw 12\nSkipping line 87215: expected 11 fields, saw 12\nSkipping line 87454: expected 11 fields, saw 12\nSkipping line 87576: expected 11 fields, saw 12\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
88674,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
88675,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
88676,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778
88677,9/9/2013 23:00,starr,sc,us,diamond,0.0,2 nights,On September ninth my wife and i noticed stran...,9/30/2013,34.376944,-82.695833
88678,9/9/2013 23:30,ft. lauderdale,fl,us,oval,0.0,still occuring,Hovering object lit with red and white lights&...,9/30/2013,26.121944,-80.143611

In [3]:
ufo_data1 = ufo_data.dropna(axis=0, how='any',inplace=False)
ufo_data1 = ufo_data1[ufo_data1['comments'].str.contains("HOAX")==False]
ufo_data1 = ufo_data1[ufo_data1['duration (hours/min)'].str.contains("unknown|year|#")==False]
ufo_data1[["date","time"]] = ufo_data1["datetime"].str.split(n=1, expand=True)
ufo_data1

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,10/10/1949,20:30
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,10/10/1956,21:00
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,10/10/1960,20:00
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889,10/10/1961,19:00
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333,10/10/1965,23:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88674,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444,9/9/2013,22:00
88675,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556,9/9/2013,22:20
88676,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778,9/9/2013,23:00
88677,9/9/2013 23:00,starr,sc,us,diamond,0.0,2 nights,On September ninth my wife and i noticed stran...,9/30/2013,34.376944,-82.695833,9/9/2013,23:00
88678,9/9/2013 23:30,ft. lauderdale,fl,us,oval,0.0,still occuring,Hovering object lit with red and white lights&...,9/30/2013,26.121944,-80.143611,9/9/2013,23:30

In [4]:
ufo_data2 = ufo_data1.drop(["comments", "date posted", "duration (seconds)", "duration (hours/min)", "datetime", "time"], axis=1)
ufo_data2 = ufo_data2[ufo_data2['city'].str.contains("\(")==False]
ufo_data2 = ufo_data2[["date","city", "state", "country", "shape", "latitude", "longitude"]]
ufo_data2['date'] = ufo_data2['date'].astype('datetime64')
ufo_data2["latitude"] = ufo_data2["latitude"].astype(float)
ufo_data2

,date,city,state,country,shape,latitude,longitude
0,1949-10-10,san marcos,tx,us,cylinder,29.883056,-97.941111
3,1956-10-10,edna,tx,us,circle,28.978333,-96.645833
4,1960-10-10,kaneohe,hi,us,light,21.418056,-157.803611
5,1961-10-10,bristol,tn,us,sphere,36.595000,-82.188889
7,1965-10-10,norwalk,ct,us,disk,41.117500,-73.408333
...,...,...,...,...,...,...,...
88674,2013-09-09,napa,ca,us,other,38.297222,-122.284444
88675,2013-09-09,vienna,va,us,circle,38.901111,-77.265556
88676,2013-09-09,edmond,ok,us,cigar,35.652778,-97.477778
88677,2013-09-09,starr,sc,us,diamond,34.376944,-82.695833
88678,2013-09-09,ft. lauderdale,fl,us,oval,26.121944,-80.143611

In [5]:
ufo_data2.to_csv("final_ufo_data.csv", index=False)

In [6]:
duration_values = ufo_data2["duration (seconds)"].value_counts().to_frame()
# pd.set_option('display.max_rows', None)
duration_values.index = duration_values.index.astype(float)
duration_values.sort_index()

KeyError: ignored

In [7]:
ufo_data2[ufo_data2["duration (seconds)"]==0.00]

KeyError: ignored

In [8]:
ufo_data2[ufo_data2["duration (seconds)"]==52623200]

KeyError: ignored

In [9]:
from pandas.core.groupby.groupby import final
final_ufo_data = ufo_data2.drop(["duration (hours/min)"], axis=1)
final_ufo_data.to_csv("final_ufo_data.csv", index=False)

KeyError: ignored